<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla.html::head('Formulario Cliente')">
    <meta charset="UTF-8">
    <title>Formulario Cliene</title>
</head>
<body class="sb-nav-fixed">
<nav th:replace="plantilla.html::navbar"></nav>


<div id="layoutSidenav">
    <div th:replace="plantilla.html::#layoutSidenav_nav">

    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="card m-3">
                <div class="card-header">
                    <h3 class="text-black  text-center">
                        Formulario Clientes
                    </h3>
                </div>
                <div class="card-body">
                    <form action="" method="post"  th:action="@{/cliente/crear}">
                        <label class="form-label" for="documento">Documento: </label>
                        <input class="form-control" type="text" name="documento" id="documento">

                        <label class="form-label" for="nombre">Nombres: </label>
                        <input class="form-control" type="text" name="nombre" id="nombre">

                        <label class="form-label" for="telefono">Telefono: </label>
                        <input class="form-control" type="text" name="telefono" id="telefono">

                        <label class="form-label" for="direccion">Direccion: </label>
                        <input class="form-control" type="text" name="direccion" id="direccion">

                        <label class="form-label" for="barrio">Barrio: </label>
                        <input class="form-control" type="text" name="barrio" id="barrio">


                        <label class="form-label" for="ciudad">Ciudad: </label>
                        <input class="form-control" type="text" name="ciudad" id="ciudad">
                        <button class="btn btn-primary mt-2" type="submit">Guardar</button>
                    </form>

                </div>


            </div>

        </main>

        <footer th:replace="plantilla.html::footer">

        </footer>

    </div>

</div>




<div th:replace="plantilla.html::scripts">

    <script>

    </script>

</div>

</body>
</html>