<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla.html::head('Formulario Producto')">
    <meta charset="UTF-8">
    <title>Formulario Cliene</title>
</head>
<body class="sb-nav-fixed">
<nav th:replace="plantilla.html::navbar"></nav>


<div id="layoutSidenav">
    <div th:replace="plantilla.html::#layoutSidenav_nav">

    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="card m-3">
                <div class="card-header">
                    <h3 class="text-black  text-center">
                        Formulario Producto
                    </h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <label class="form-label" for="nombre">Nombres: </label>
                        <input class="form-control" type="text" name="nombre" id="nombre">
                        <label class="form-label" for="nombre">Nombres: </label>
                        <input class="form-control" type="text" name="nombre" id="nombre">
                    </form>

                </div>


            </div>

        </main>

        <footer th:replace="plantilla.html::footer">

        </footer>

    </div>

</div>




<div th:replace="plantilla.html::scripts">

</div>

</body>
</html>